#main>.homepageLikeCurrent{
    display:none;
}
@media(min-width:1280px){
    #main>.homepageLikeCurrent{
        margin-top:30px;
        display:block;
    }
}
#main>.a{
    width:1170px;
    margin:0 auto;
    padding-bottom:55px;
}
#main>.a>.n{
    margin:15px 0 0;
    font-size:30px;
    color:#1d98df;
}
#main>.a>.o{
    margin:30px 0 0;
    width:100%;
}
#main>.a>.o>*{
    display:inline-block;
}
#main>.a>.o>.a{
    width:730px;
}
#main>.a>.o>.a>.n{
    height:460px;
    text-align:center;
}
#main>.a>.o>.a>.n>*{
    height:100%;
    max-width:100%;
    max-height:100%;
}
#main>.a>.o>.a>.o{
    margin:15px 0 0;
}
#main>.a>.o>.a>.o>*{
    height:80px;
}
#main>.a>.o>.a>.o>*+*{
    margin-left:13px;
}
#main>.a>.o>.a>.o>.button{
    display:inline-block;
    width:29px;
}
#main>.a>.o>.a>.o>.option{
    border:3px solid #cfcfcf;
    box-sizing:border-box;
    width:80px;
}
#main>.a>.o>.a>.o>.button.left{
    background-image:url('/_medievalId/swiper-dl.png');
}
#main>.a>.o>.a>.o>.button.left:hover{
    background-image:url('/_medievalId/swiper-dlh.png');
}
#main>.a>.o>.a>.o>.button.right{
    background-image:url('/_medievalId/swiper-dr.png');
}
#main>.a>.o>.a>.o>.button.right:hover{
    background-image:url('/_medievalId/swiper-drh.png');
}
#main>.a>.o>.b{
    margin-left:20px;
    vertical-align:top;
    width:420px;
}
#main>.a>.o>.b>.hl{
    margin:20px 0;
    width:100%;
    height:1px;
    background-color:#cfcfcf;
}
#main>.a>.o>.b>.n>.a{
    font-size:45px;
    color:#ff0000;
}
#main>.a>.o>.b>.n>.b{
    font-size:22px;
    color:#797979;
}
#main>.a>.o>.b>.n>.c{
    font-size:15px;
    color:#797979;
}
#main>.a>.o>.b>.o{
    display:table;
}
#main>.a>.o>.b>.o>*{
    display:table-row;
}
#main>.a>.o>.b>.o>*>*{
    display:table-cell;
}
#main>.a>.o>.b>.p>*>*+*{
    padding-left:60px;
}
#main>.a>.o>.b>.p>.a>*{
    font-size:15px;
    color:#797979;
}
#main>.a>.o>.b>.q>*>.n{
    font-size:15px;
    color:#797979;
}
#main>.a>.o>.b>.q>*>*+*{
    padding-left:30px;
}
#main>.a>.o>.b>.s>.a{
    font-size:18px;
    color:#444444;
}
#main>.a>.o>.b>.s>.b{
    font-size:22px;
    font-weight:bold;
    color:#ff7400;
}
#main>.b{
    background-color:#edeced;
    padding:30px 0;
}
#main>.b>*{
    width:1170px;
    margin:0 auto;
    padding:25px;
    box-sizing:border-box;
    background-color:white;
}
#main>.b>*+*{
    margin-top:30px;
}
#main>.b>*>.a{
    display:inline-block;
    width:75px;
    color:#133466;
}
#main>.b>*>.hl{
    display:inline-block;
    height:5px;
    width:1030px;
    margin-left:15px;
    background-image:url('/_homepageLike/dollbg.png');
}
#main>.b>*>.b{
    margin-left:90px;
    margin-top:25px;
}
#main>.b>.n>.b>.n{
    font-size:20px;
    color:#1d98df;
}
#main>.b>.n>.b>.o{
    display:table;
    margin-top:25px;
    width:1030px;
}
#main>.b>.n>.b>.o>*{
    display:table-row;
}
#main>.b>.n>.b>.o>*>*{
    display:table-cell;
}
#main>.b>.n>.b>.o>*>.n{
    font-size:16px;
    font-weight:bold;
    color:#444444;
}
#main>.b>.n>.b>.o>*>.o{
    font-size:16px;
    color:#444444;
}
#main>.b>.n>.b>.p{
    font-size:13px;
    color:#797979;
}
#main>.b>.o>.b>.n{
    border:3px solid #cfcfcf;
}
#main>.b>.o>.b>.n>*{
    width:100%;
    display:block;
}
#main>.b>.o>.b>.o{
    font-size:13px;
    color:#797979;
}
#main>.b>.p>.b{
    display:table;
    height:535px;
}
#main>.b>.p>.b>*{
    display:table-cell;
    vertical-align:top;
}
#main>.b>.p>.b>.n>.a{
    font-size:20px;
    color:#1d98df;
}
#main>.b>.p>.b>.n>.b{
    margin-top:15px;
    font-size:16px;
    color:#444444;
    height:430px;
}
#main>.b>.p>.b>.n>.c{
    font-size:13px;
    color:#797979;
}
#main>.b>.p>.b>.o{
    border:3px solid #cfcfcf;
    width:535px;
    text-align:center;
}
#main>.b>.p>.b>.o>*{
    max-height:100%;
    max-width:100%;
    height:100%;
}
#main>.b>.q>.b>.n{
    margin:20px 0;
    font-size:16px;
    color:#444444;
}
#main>.b>.q>.b>.o{
    width:1030px;
    height:579px;
}
