#main>.a{
    background-color:#f9f9f9;
    padding:25px 0;
}
#main>.a>.n{
    color:#06182c;
}
#main>.a>.o{
    width:1170px;
    margin:25px auto 0;
}
#main>.a>.o>*{
    display:inline-block;
}
#main>.a>.o>*+*{
    margin-left:15px;
}
#main>.a>.o>*>.n>*{
    box-sizing:border-box;
    width:185px;
    height:185px;
    border:3px solid white;
}
#main>.a>.o>*>.n>.active{
    border:3px solid #133466;
}
#main>.a>.o>*>.o>.a{
    padding:15px 30px;
    color:#06182c;
}
#main>.a>.o>*>.o>.b{
    border-top:1px solid #797979;
    padding:15px 30px;
    font-size:16px;
    color:#06182c;
}
@media(max-width:1279px){
    #main>.a>.n{
        margin:0 10px;
        font-size:13px;
    }
    #main>.a>.n>.a{
        font-size:18px;
    }
    #main>.a>.o{
        margin:15px 10px 0;
        width:calc(100% - 20px);
        overflow-y:scroll;
        white-space:nowrap;
    }
    #main>.a>.o>*>.o>.a{
        font-size:18px;
    }
    #main>.a>.o>*>.o>.b{
        font-size:13px;
    }
}
@media(min-width:1280px){
    #main>.a>.n{
        width:1170px;
        margin:0 auto;
        font-size:14px;
    }
    #main>.a>.n>.a{
        font-size:24px;
    }
    #main>.a>.o>*>.o>.a{
        font-size:24px;
    }
    #main>.a>.o>*>.o>.b{
        font-size:16px;
    }
}
#main>.b{
    padding:60px 0 55px;
}
#main>.b>*{
    width:100%;
}
@media(max-width:1279px){
    #main>.b{
        margin:0 10px;
    }
}
@media(min-width:1280px){
    #main>.b{
        width:1170px;
        margin:0 auto;
    }
}
