#main .blueBar{
    display:inline-block;
    background-color:#1d98df;
}
@media(max-width:1279px){
    #main .blueBar{
        height:26px;
        width:4px;
        margin-right:8px;
    }
}
@media(min-width:1280px){
    #main .blueBar{
        height:35px;
        width:5px;
        margin-right:20px;
    }
}
#main .title{
    color:#133466;
}
@media(max-width:1279px){
    #main .title{
        font-size:18px;
    }
}
@media(min-width:1280px){
    #main .title{
        font-size:24px;
    }
}
#main>.d>*>*{
    vertical-align:middle;
}
@media(max-width:1279px){
    #main>.d>*{
        margin:30px 10px 15px;
    }
}
@media(min-width:1280px){
    #main>.d>*{
        width:1170px;
        margin:15px auto 20px;
    }
}
#main>.e{
    background-color:#f6f5f6;
}
#main>.e>*>*>*>.presale{
    display:table;
    position:relative;
    background-color:white;
    box-shadow:0 1px 2px rgba(0,0,0,.2),0 1px 2px rgba(0,0,0,.2);
    transition:all .4s cubic-bezier(.2,.8,.2,1);
}
#main>.e>*>*>*>.presale:hover{
    box-shadow:0 1px 2px rgba(0,0,0,.2),0 8px 16px rgba(0,0,0,.2);
}
#main>.e>*>*>*>.presale:active{
    box-shadow:0 1px 2px rgba(0,0,0,.2),0 16px 32px rgba(0,0,0,.2);
}
#main>.e>*>*>*>.presale>*{
    display:table-cell;
    vertical-align:top;
    height:var(--height);
}
#main>.e>*>*>*>.presale>.a{
    line-height:0;
    vertical-align:middle;
}
#main>.e>*>*>*>.presale>.a>*{
    width:100%;
}
#main>.e>*>*>*>.presale>.b{
    box-sizing:border-box;
}
#main>.e>*>*>*>.presale>.b>*{
    display:table;
}
#main>.e>*>*>*>.presale>.b>*>*{
    display:table-row;
}
#main>.e>*>*>*>.presale>.b>*>*>*{
    display:table-cell;
}
#main>.e>*>*>*>.presale>.b>*>.a>*{
    vertical-align:top;
}
#main>.e>*>*>*>.presale>.b>*>.a>*>.title{
    color:#1d98df;
}
#main>.e>*>*>*>.presale>.b>*>.a>*>.subtitle{
    color:#797979;
}
#main>.e>*>*>*>.presale>.b>*>.b>*{
    vertical-align:bottom;
}
#main>.e>*>*>*>.presale>.b>*>.b>*>.a{
    color:#133466;
}
#main>.e>*>*>*>.presale>.b>*>.b>*>.a+.a{
    border-top:1px dotted #cfcfcf;
}
#main>.e>*>*>*>.presale>.c{
    display:table;
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(0,0,0,.5);
    height:var(--height);
}
#main>.e>*>*>*>.presale>.c>*{
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}
@media(max-width:1279px){
    #main>.e>*{
        margin:0 10px;
        padding:10px 0 10px;
    }
    #main>.e>*>*+*{
        margin-top:10px;
    }
    #main>.e>*>*>*+*{
        margin-top:10px;
    }
    #main>.e>*>*>*>.presale{
        --height:210px;
        width:100%;
    }
    #main>.e>*>*>*>.presale>.a{
        width:40%;
    }
    #main>.e>*>*>*>.presale>.a>*{
    }
    #main>.e>*>*>*>.presale>.b{
        padding:8px;
    }
    #main>.e>*>*>*>.presale>.b>*{
        width:100%;
        height:calc(var(--height) - 16px);
    }
    #main>.e>*>*>*>.presale>.b>*>*>*>.title{
        font-size:15px;
    }
    #main>.e>*>*>*>.presale>.b>*>*>*>.subtitle{
        font-size:15px;
    }
    #main>.e>*>*>*>.presale>.b>*>*>*>.a{
        font-size:13px;
        padding:4px 0;
    }
    #main>.e>*>*>*>.presale>.c{
        width:100%;
    }
}
@media(min-width:1280px){
    #main>.e>*{
        --height:245px;
        width:1170px;
        margin:0 auto;
        padding:40px 0 60px;
    }
    #main>.e>*>*+*{
        margin-top:30px;
    }
    #main>.e>*>*>*{
        display:inline-block;
    }
    #main>.e>*>*>*+*{
        margin-left:26px;
    }
    #main>.e>*>*>*>.presale{
        width:572px;
    }
    #main>.e>*>*>*>.presale>.a{
        width:235px;
    }
    #main>.e>*>*>*>.presale>.a>*{
    }
    #main>.e>*>*>*>.presale>.b{
        padding:15px;
    }
    #main>.e>*>*>*>.presale>.b>*{
        width:307px;
        height:calc(var(--height) - 30px);
    }
    #main>.e>*>*>*>.presale>.b>*>*>*>.title{
        font-size:22px;
    }
    #main>.e>*>*>*>.presale>.b>*>*>*>.subtitle{
        font-size:16px;
    }
    #main>.e>*>*>*>.presale>.b>*>*>*>.a{
        font-size:16px;
        padding:10px 0;
    }
    #main>.e>*>*>*>.presale>.c{
        width:572px;
    }
}
#main>.mightLike>.f>*>*{
    vertical-align:middle;
}
@media(max-width:1279px){
    #main>.mightLike>.f>*{
        margin:25px 10px;
    }
}
@media(min-width:1280px){
    #main>.mightLike>.f>*{
        width:1170px;
        margin:45px auto;
    }
}
#main .mightLikeBlock>.b{
    color:#133466;
}
#main .mightLikeBlock>.c{
    font-size:16px;
    color:#797979;
    padding:8px 0;
    border-top:1px solid #797979;
    border-bottom:1px solid #797979;
}
#main>.mightLike>.g{
    display:none;
}
@media(min-width:1280px){
    #main>.mightLike>.g{
        display:block;
        padding-bottom:50px;
        width:1170px;
        margin:0 auto;
    }
    #main>.mightLike>.g>*{
        display:inline-block;
        width:227px;
    }
    #main>.mightLike>.g>*+*{
        margin-left:20px;
    }
    #main>.mightLike>.g>.mightLikeBlock>.a>*{
        width:227px;
        height:227px;
    }
    #main>.mightLike>.g>.mightLikeBlock>.b{
        height:70px;
        font-size:20px;
    }
}
#main>.mightLike>.h{
    display:none;
}
@media(max-width:1279px){
    #main>.mightLike>.h{
        display:block;
        position:relative;
        height:400px;
        margin-bottom:20px;
    }
    #main>.mightLike>.h>*{
        --width:1440px; /* 5*280+4*10 */
        position:absolute;
        left:calc(50% - var(--width) / 2);
        width:var(--width);
        height:400px;
    }
    #main>.mightLike>.h>*>*>*>.mightLikeBlock>.a>*{
        width:280px;
        height:280px;
    }
    #main>.mightLike>.h>*>*>*>.mightLikeBlock>.b{
        font-size:18px;
        padding:13px 0;
    }
}
