#main>.a{
    background-size:cover;
    background-position:center;
}
#main>.a>*{
    height:100%;
    box-sizing:border-box;
}
#main>.a>*>*>.a{
    color:white;
    text-shadow:0 0 4px rgba(0,0,0,1);
}
#main>.a>*>*>.b{
    color:white;
    text-shadow:0 0 4px rgba(0,0,0,1);
    white-space:pre-line;
}
#main>.a>*>*>.c{
    margin-top:35px;
    color:white;
    width:210px;
    height:50px;
    background-color:rgba(255,255,255,.2);
    border:2px solid white;
    text-shadow:0 1px 1px rgba(0,0,0,.8);
}
@media(max-width:1279px){
    #main>.a{
        height:225px;
    }
    #main>.a>*{
        padding-top:25px;
    }
    #main>.a>*>*{
        margin:0 10px;
    }
    #main>.a>*>*>.a{
        font-size:20px;
    }
    #main>.a>*>*>.b{
        font-size:15px;
    }
    #main>.a>*>*>.c{
        font-size:15px;
        width:120px;
        height:30px;
        border:1px solid white;
    }
}
@media(min-width:1280px){
    #main>.a{
        height:550px;
    }
    #main>.a>*{
        padding-top:90px;
        background-color:rgba(0,0,0,.5);
    }
    #main>.a>:hover{
        background-color:unset;
    }
    #main>.a>*>*{
        width:1170px;
        margin:0 auto;
    }
    #main>.a>*>*>.a{
        font-size:30px;
    }
    #main>.a>*>*>.b{
        font-size:16px;
        width:40%;
    }
    #main>.a>*>*>.c{
        font-size:20px;
        width:210px;
        height:50px;
        border:2px solid white;
    }
}
#main>.album{
    background-color:#f9f9f9;
    padding:25px 0;
}
#main>.album .presaleIdLikeHypertextPhoto>*{
    box-sizing:border-box;
    width:185px;
    height:185px;
    border:3px solid white;
}
#main>.album>.n{
    color:#06182c;
}
#main>.album>.o{
    display:none;
}
#main>.album>.p{
    display:none;
}
@media(max-width:1279px){
    #main>.album>.p{
        display:block;
        position:relative;
        height:280px;
        margin-bottom:20px;
    }
    #main>.album>.p>*{
        --width:1440px; /* 5*280+4*10 */
        position:absolute;
        left:calc(50% - var(--width) / 2);
        width:var(--width);
        height:280px;
    }
    #main>.album>.p>*>*>*>*>*{
        width:280px;
        height:280px;
    }
    #main>.album>.n{
        margin:0 10px;
        font-size:13px;
    }
    #main>.album>.n>.a{
        font-size:18px;
    }
}
@media(min-width:1280px){
    #main>.album>.o{
        display:block;
        width:1170px;
        margin:25px auto 0;
    }
    #main>.album>.o>*+*{
        margin-left:15px;
    }
    #main>.album>.n{
        width:1170px;
        margin:0 auto;
        font-size:14px;
    }
    #main>.album>.n>.a{
        font-size:24px;
    }
}
