#main>.a{
    background-size:cover;
    background-position:center;
    height:550px;
}
#main>.a>*{
    height:100%;
    box-sizing:border-box;
    padding-top:90px;
    background-color:rgba(0,0,0,.5);
}
#main>.a>:hover{
    background-color:unset;
}
#main>.a>*>*{
    width:1170px;
    margin:0 auto;
}
#main>.a>*>*>.a{
    font-size:30px;
    color:white;
    text-shadow:0 0 4px rgba(0,0,0,1);
}
#main>.a>*>*>.b{
    width:40%;
    font-size:16px;
    color:white;
    text-shadow:0 0 4px rgba(0,0,0,1);
    white-space:pre-line;
}
#main>.a>*>*>.c{
    margin-top:35px;
    font-size:20px;
    color:white;
    width:210px;
    height:50px;
    background-color:rgba(255,255,255,.2);
    border:2px solid white;
}
