#main>.top>*{
    display:none;
}
@media(max-width:1279px){
    #main>.top>.mobile{
        display:block;
    }
    #main>.top>.mobile>.a{
        display:table;
        width:100%;
        height:113px;
    }
    #main>.top>.mobile>.a>*{
        display:table-cell;
        vertical-align:middle;
        text-align:center;
        color:white;
        background-image:url('/_news/img/top-bg.png');
        background-size:cover;
        background-position:center;
        text-shadow:0 1px 1px rgba(0,0,0,.8);
    }
    #main>.top>.mobile>.a>*>.a{
        font-size:20px;
    }
    #main>.top>.mobile>.a>*>.b{
        font-size:13px;
    }
    #main>.top>.mobile>.b{
        font-size:13px;
        margin:13px 10px 0;
        color:#797979;
    }
    #main>.top>.mobile>.b>.n{
        color:#133466;
    }
}
@media(min-width:1280px){
    #main>.top>.desktop{
        display:table;
        width:100%;
        height:230px;
    }
    #main>.top>.desktop>*{
        display:table-cell;
        background-image:url('/_news/img/top-bg.png');
        background-size:cover;
        background-position:center;
        vertical-align:middle;
    }
    #main>.top>.desktop>*>*{
        display:table;
        width:1170px;
        margin:0 auto;
    }
    #main>.top>.desktop>*>*>*{
        display:table-cell;
        vertical-align:bottom;
        color:white;
        text-shadow:0 1px 1px rgba(0,0,0,.8);
    }
    #main>.top>.desktop>*>*>.n>.a{
        font-size:40px;
    }
    #main>.top>.desktop>*>*>.n>.b{
        font-size:16px;
    }
    #main>.top>.desktop>*>*>.o{
        text-align:right;
    }
}
#main>.dateSelect>.yearSelect{
    height:50px;
    border-radius:2px;
    background-color:#f9f9f9;
    border:1px solid #006aba;
    font-size:16px;
    color:#006aba;
}
@media(max-width:1279px){
    #main>.dateSelect>.yearSelect{
        margin:13px 10px 0;
        width:calc(100% - 20px);
        font-size:15px;
    }
}
@media(min-width:1280px){
    #main>.dateSelect{
        margin:60px 0;
        text-align:center;
    }
    #main>.dateSelect>.yearSelect{
        width:225px;
    }
}
#main>.typeSelect>*{
    display:none;
}
@media(max-width:1279px){
    #main>.typeSelect>.mobile{
        display:block;
        width:100%;
        padding:0 10px;
        height:50px;
        margin-top:13px;
        border:none;
        border-top:1px solid #edeced;
        border-bottom:1px solid #edeced;
        background-color:white;
        color:#1d98df;
        font-size:20px;
    }
}
@media(min-width:1280px){
    #main>.typeSelect>.desktop{
        display:block;
        margin-top:60px;
        text-align:center;
    }
    #main>.typeSelect>.desktop>*{
        display:inline-block;
        width:135px;
        height:40px;
        text-align:center;
        font-size:20px;
        color:color#06182c;
        cursor:pointer;
    }
    #main>.typeSelect>.desktop>.focus{
        color:#006aba;
        border-bottom:2px solid #006aba;
    }
}
#main>.normal>*>.a>.b>*{
    background-color:#7fbfcb;
    color:white;
}
@media(max-width:1279px){
    #main>.normal{
        margin:0 10px;
    }
    #main>.normal>*{
        border-bottom:1px solid #cfcfcf;
    }
    #main>.normal>*>.a{
        margin-top:15px;
        display:table;
        width:100%;
    }
    #main>.normal>*>.a>*{
        display:table-cell;
    }
    #main>.normal>*>.a>.a{
        font-size:13px;
    }
    #main>.normal>*>.a>.b{
        text-align:right;
        font-size:13px;
    }
    #main>.normal>*>.a>.b>*{
        padding:2px 10px;
        border-radius:2px;
    }
    #main>.normal>*>.b>.b{
        margin-top:15px;
    }
    #main>.normal>*>.b>.b>.a{
        font-size:15px;
    }
    #main>.normal>*>.b>.b>.b{
        text-align:center;
        padding:10px 0;
    }
    #main>.normal>*>.b>.b>.b>.b{
        display:none;
    }
    #main>.normal>*>.b>.c{
        display:none;
    }
    #main>.normal>.focus>.b>.b>.a{
        color:#1d98df;
    }
    #main>.normal>.focus>.b>.b>.b>.a{
        display:none;
    }
    #main>.normal>.focus>.b>.b>.b>.b{
        display:inline;
    }
    #main>.normal>.focus>.b>.c{
        display:block;
        padding:15px 0;
        font-size:15px;
        border-top:1px solid #cfcfcf;
    }
}
@media(min-width:1280px){
    #main>.normal{
        border-top:1px solid #cfcfcf;
        margin:0 auto;
        width:1170px;
    }
    #main>.normal>*{
        border-bottom:1px solid #cfcfcf;
        display:table;
        width:100%;
    }
    #main>.normal>*>*{
        display:table-cell;
        padding:20px 0;
    }
    #main>.normal>*>.a{
        width:320px;
    }
    #main>.normal>*>.a>*{
        display:inline-block;
    }
    #main>.normal>*>.a>.a{
        font-size:16px;
        color:#06182c;
        width:40%;
    }
    #main>.normal>*>.a>.b>*{
        display:inline-block;
        margin:0 30px;
        font-size:16px;
        text-align:center;
        width:120px;
        padding:3px 0;
        border-radius:2px;
    }
    #main>.normal>*>.b>.b{
        display:table;
        width:100%;
        font-size:16px;
        cursor:pointer;
    }
    #main>.normal>*>.b>.b>*{
        display:table-cell;
    }
    #main>.normal>*>.b>.b>.b{
        text-align:right;
    }
    #main>.normal>*>.b>.b>.b>.b{
        display:none;
    }
    #main>.normal>*>.b>.c{
        display:none;
    }
    #main>.normal>.focus>.b>.b>.a{
        color:#006aba;
    }
    #main>.normal>.focus>.b>.b>.b>.a{
        display:none;
    }
    #main>.normal>.focus>.b>.b>.b>.b{
        display:inline;
    }
    #main>.normal>.focus>.b>.c{
        display:block;
        margin-top:20px;
        border-top:1px solid #cfcfcf;
        padding:20px 0;
    }
    #main>.normal>.focus>.b>.c img{
        width:100%;
    }
}
#main>.enewsLike>.a>*>.a>*>.b>*{
    background-color:#7fbfcb;
    color:white;
}
#main>.enewsLike>.a>*>.b>.b>.b{
    color:#ee9a15;
}
@media(max-width:1279px){
    #main>.enewsLike>.a>*{
        border-bottom:1px solid #cfcfcf;
        margin:0 10px;
        width:calc(100% - 20px);
    }
    #main>.enewsLike>.a>*>.a{
        margin-top:15px;
    }
    #main>.enewsLike>.a>*>.a>*{
        display:table;
        width:100%;
    }
    #main>.enewsLike>.a>*>.a>*>*{
        display:table-cell;
        font-size:13px;
    }
    #main>.enewsLike>.a>*>.a>*>.b{
        text-align:right;
    }
    #main>.enewsLike>.a>*>.a>*>.b>*{
        padding:2px 10px;
        border-radius:2px;
    }
    #main>.enewsLike>.a>*>.b{
        margin-top:15px;
    }
    #main>.enewsLike>.a>*>.b>*>.b{
        text-align:right;
        padding:10px 0;
    }
}
@media(min-width:1280px){
    #main>.enewsLike>.a{
        border-top:1px solid #cfcfcf;
        margin:0 auto;
        width:1170px;
    }
    #main>.enewsLike>.a>*{
        display:table;
        width:100%;
        border-bottom:1px solid #cfcfcf;
        cursor:pointer;
    }
    #main>.enewsLike>.a>*>*{
        display:table-cell;
        padding:20px 0;
    }
    #main>.enewsLike>.a>*>*>*{
        display:table;
        width:100%;
    }
    #main>.enewsLike>.a>*>*>*>*{
        display:table-cell;
    }
    #main>.enewsLike>.a>*>.a{
        width:30%;
    }
    #main>.enewsLike>.a>*>.a>*>.a{
        width:50%;
    }
    #main>.enewsLike>.a>*>.a>*>.b>*{
        display:inline-block;
        padding:4px 20px;
        border-radius:2px;
    }
    #main>.enewsLike>.a>*>.b{
        width:70%;
    }
    #main>.enewsLike>.a>*>.b>.b>.b{
        font-size:13px;
        text-align:right;
        width:50px;
    }
}
#main>.enewsLike>.b>.a{
    display:table;
    width:100%;
}
#main>.enewsLike>.b>.a>*{
    display:table-cell;
}
#main>.enewsLike>.b>.a>.b{
    text-align:right;
}
#main>.enewsLike>.b>.a>.a>*{
    background-color:#7fbfcb;
    color:white;
}
#main>.enewsLike>.b>.b{
    color:#006aba;
}
#main>.enewsLike>.b>.c{
    border-top:1px solid #cfcfcf;
    color:#797979;
}
#main>.enewsLike>.b>.d{
    border-top:1px solid #cfcfcf;
    display:table;
}
#main>.enewsLike>.b>.d>*{
    display:table-cell;
    width:33%;
}
#main>.enewsLike>.b>.d>*>*{
    display:inline-block;
    color:#797979;
    border:1px solid #cfcfcf;
    border-radius:2px;
}
#main>.enewsLike>.b>.d>.a>*>.a{
    display:none;
}
#main>.enewsLike>.b>.d>.b{
    text-align:center;
}
#main>.enewsLike>.b>.d>.c{
    text-align:right;
}
#main>.enewsLike>.b>.d>.c>*>.a{
    display:none;
}
@media(max-width:1279px){
    #main>.enewsLike>.b>.a{
        margin:15px 10px 0;
        width:calc(100% - 20px);
    }
    #main>.enewsLike>.b>.a>.a>*{
        padding:2px 10px;
        border-radius:2px;
    }
    #main>.enewsLike>.b>.b{
        margin:15px 10px 0;
        width:calc(100% - 20px);
        font-size:15px;
    }
    #main>.enewsLike>.b>.c{
        font-size:15px;
        margin:20px 10px 0;
        padding-top:20px;
        width:calc(100% - 20px);
    }
    #main>.enewsLike>.b>.d{
        width:calc(100% - 20px);
        margin:10px 10px 0;
        font-size:15px;
    }
    #main>.enewsLike>.b>.d>*{
        padding:20px 0;
    }
    #main>.enewsLike>.b>.d>*>*{
        padding:4px 10px;
    }
}
@media(min-width:1280px){
    #main>.enewsLike>.b{
        width:1170px;
        margin:0 auto;
        border-top:1px solid #cfcfcf;
    }
    #main>.enewsLike>.b>.a{
        margin-top:35px;
    }
    #main>.enewsLike>.b>.b{
        padding:15px 0;
        font-size:20px;
    }
    #main>.enewsLike>.b>.c{
        font-size:16px;
        padding:15px 0 0;
    }
    #main>.enewsLike>.b>.d{
        width:1170px;
        margin:40px auto 0;
    }
    #main>.enewsLike>.b>.d>*{
        padding:45px 0;
        font-size:16px;
    }
    #main>.enewsLike>.b>.d>*>*{
        padding:4px 10px;
        cursor:pointer;
    }
    #main>.enewsLike>.b>.d>.a>*>.a{
        display:inline;
    }
    #main>.enewsLike>.b>.d>.c>*>.a{
        display:inline;
    }
}
#main .pageSelect>*{
    text-align:center;
    display:none;
    color:#797979;
}
#main .pageSelect>*>*{
    display:inline-block;
    width:35px;
    height:35px;
    line-height:35px;
    border-radius:2px;
    font-size:16px;
    border:1px solid #cfcfcf;
}
#main .pageSelect>*>.focus{
    color:white;
    background-color:#1d98df;
}
@media(max-width:1279px){
    #main .pageSelect>.mobile{
        display:block;
        margin:20px 0;
    }
    #main .pageSelect>.mobile>*{
        margin:0 5px;
    }
}
@media(min-width:1280px){
    #main .pageSelect>.desktop{
        display:block;
        margin:45px 0;
    }
    #main .pageSelect>.desktop>*{
        cursor:pointer;
    }
    #main .pageSelect>.desktop>*+*{
        margin-left:15px;
    }
}
