#main>.presaleLikeTop{
    display:none;
}
#main>.presaleLikeTop>.static{
    display:table;
    width:100%;
}
#main>.presaleLikeTop>.static>*{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    background-size:cover;
    background-position:center;
    background-image:url('/_presale/pre_tilte.jpg');
    color:rgb(255,255,255);
}
#main>.presaleLikeTop>.a>*{
    color:#797979;
}
#main>.presaleLikeTop>.a>*>.current{
    color:#133466;
}
@media(max-width:1279px){
    #main>.presaleLikeTop.mobile{
        display:unset;
    }
    #main>.presaleLikeTop>.static{
        margin-top:50px;
        height:113px;
    }
    #main>.presaleLikeTop>.static>*>.a{
        font-size:20px;
        text-shadow:0 1px 1px rgba(0,0,0,.8);
    }
    #main>.presaleLikeTop>.static>*>.b{
        font-size:13px;
        text-shadow:0 1px 1px rgba(0,0,0,.8);
    }
    #main>.presaleLikeTop>.a>*{
        font-size:13px;
        margin:13px 10px;
    }
}
@media(min-width:1280px){
    #main>.presaleLikeTop.desktop{
        display:unset;
    }
    #main>.presaleLikeTop>.static{
        margin-top:90px;
        height:155px;
    }
    #main>.presaleLikeTop>.static>*>.a{
        font-size:40px;
        text-shadow:0 1px 2px rgba(0,0,0,.8);
    }
    #main>.presaleLikeTop>.static>*>.b{
        font-size:16px;
        text-shadow:0 1px 1px rgba(0,0,0,.8);
    }
    #main>.presaleLikeTop>.a>*{
        font-size:16px;
        width:1170px;
        margin:35px auto;
    }
}
