body{
    overflow-x:hidden;
    overflow-y:scroll;
    margin:0;
    font-family:"Roboto","Noto Sans","Microsoft JhengHei",sans-serif;
}
#main{
    overflow-x:hidden;
    width:100%;
    position:absolute;
    top:0;
}
#main>*{
    position:relative;
}
#main>.header>.header{
    position:fixed;
    display:table;
    top:0;
    width:100%;
    z-index:3;
    background-color:white;
}
#main>.header>.header.shadow{
    box-shadow:0 8px 8px rgba(0,0,0,.2);
}
#main>.header>.header>.a{
    display:table-cell;
    vertical-align:middle;
}
#main>.header>.header>.left{
    text-align:left;
}
#main>.header>.header>.left>*>*{
    max-width:100%;
    max-height:100%
}
#main>.header>.header>.right{
    text-align:right;
    cursor:default;
}
#main>.header>.header>.right>.max1279{
    display:none;
}
#main>.header>.header>.right>.min1280{
    display:none;
}
@media(max-width:1279px){
    #main>.header{
        height:50px;
    }
    #main>.header>.header>.a{
        padding:10px 10px;
        height:30px;
        line-height:0;
    }
    #main>.header>.header>.right>.max1279{
        display:unset;
    }
    #main>.header>.header>.right>.max1279>*{
        font-size:30px;
    }
    #main>.header>.header>.right>.max1279>.b{
        display:none;
    }
    #main>.header>.header.active{
        box-shadow:unset;
        border-bottom:2px solid rgba(27, 57, 126, 1.00);
    }
    #main>.header>.header.active>.right>.max1279>.a{
        display:none;
    }
    #main>.header>.header.active>.right>.max1279>.b{
        display:unset;
    }
}
@media(min-width:1280px){
    #main>.header{
        height:90px;
    }
    #main>.header>.header{
        height:90px;
    }
    #main>.header>.header>.a{
        height:64px;
        padding:0 15px;
    }
    #main>.header>.header>.right>.min1280{
        display:unset;
        font-size:18px;
    }
    #main>.header>.header>.right>.min1280>.wordLink{
        text-decoration:none;
        color:rgb(10,23,39);
        padding:10px;
        border-radius:2px;
        margin-right:16px;
    }
    #main>.header>.header>.right>.min1280>.wordLink:active{
        background-color:rgb(19,46,91);
        color:rgb(255,255,255);
    }
    #main>.header>.header>.right>.min1280>.wordLink.contact{
        background-color:rgb(236,143,21);
        color:rgb(255,255,255);
        margin-right:16px;
    }
    #main>.header>.header>.right>.min1280>.wordLink.contact:active{
        background-color:rgba(236,143,21,.7);
    }
    #main>.header>.header>.right>.min1280>select{
        margin-left:16px;
        background:transparent;
        border:none;
        font-size:18px;
        height:36px;
    }
}
#main>.footer{
}
/* start #main>.footer>.a */
#main>.footer>.a{
    background-color:rgb(227,227,227);
    text-align:center;
}
#main>.footer>.a>*{
    display:inline-block;
    max-width:1170px;
    width:100%;
    text-align:left;
}
#main>.footer>.a>*>.a{
    display:none;
}
#main>.footer>.a>*>hr{
    display:none;
}
#main>.footer>.a>*>.b>*{
    margin:30px 0 35px;
    font-size:14px;
    line-height:30px;
    color:rgb(14,51,52);
}
#main>.footer>.a>*>.b>*{
    padding:1em 0;
}
#main>.footer>.a>*>.b>*>.title{
    font-size:1.4em;
    font-weight:400;
    margin-bottom:.5em;
    color:rgba(10,23,39,1.00);
}
#main>.footer>.a>*>.b>*>.line{
    border-top:2px solid orange;
    width:60px;
    margin-bottom:.5em;
}
#main>.footer>.a>*>.b>*>.a{
    display:table;
}
#main>.footer>.a>*>.b>*>.a>*{
    display:table-cell;
    vertical-align:top;
}
#main>.footer>.a>*>.b>* input{
    border:unset;
    height:45px;
    padding:0 1em;
    box-sizing:border-box;
    background-color:rgb(177,177,177);
}
#main>.footer>.a>*>.b>* input::placeholder{
    color:unset;
}
#main>.footer>.a>*>.b>* button{
    border:unset;
    width:45px;
    height:45px;
    background-color:rgb(177,177,177);
}
#main>.footer>.a>*>.b>.q>.a{
    height:150px;
    border:5px solid white;
}
#main>.footer>.a>*>.b>.q>.a>*{
    width:100%;
    height:100%;
}
@media(max-width:1279px){
    #main>.footer>.a{
        padding:0 10px;
    }
    #main>.footer>.a>*>.b>*{
        margin:0 auto;
    }
    #main>.footer>.a>*>.b>* input{
        width:240px;
    }
    #main>.footer>.a>*>.b>.q>.a{
        max-width:100%;
    }
}
@media(min-width:1280px){
    #main>.footer>.a>*>.a{
        display:block;
        margin:20px 0;
        font-size:14px;
        color:rgba(10,23,39,1.00);
    }
    #main>.footer>.a>*>.a>a{
        text-decoration:unset;
        color:unset;
        padding:0 10px;
    }
    #main>.footer>.a>*>.a>a:first-child{
        text-decoration:unset;
        color:unset;
        padding-left:0;
    }
    #main>.footer>.a>*>.a>a:hover{
        color: rgba(8, 20, 35, 1.00);
        font-weight: 600;
    }
    #main>.footer>.a>*>.a>a:active{
        color:rgba(13, 29, 74, 1.00);
    }
    #main>.footer>.a>*>hr{
        display:block;
        border-top:1px solid white;
        border-bottom:0;
    }
    #main>.footer>.a>*>.b{
        display:table;
    }
    #main>.footer>.a>*>.b>*{
        display:table-cell;
    }
    #main>.footer>.a>*>.b>* input{
        width:305px;
    }
    #main>.footer>.a>*>.b>*+*{
        padding-left:2em;
    }
    #main>.footer>.a>*>.b>.n{
        width:385px;
    }
    #main>.footer>.a>*>.b>.o{
        width:385px;
    }
    #main>.footer>.a>*>.b>.p{
        width:350px;
    }
    #main>.footer>.a>*>.b>.q>.a{
        width:380px;
    }
    #main>.footer>.a>*>.b>.q>.b{
        display:inline;
    }
    #main>.footer>.a>*>.b>.q>.c{
        display:inline;
        margin-left:20px;
    }
}
/* end #main>.footer>.a */
#main>.footer>.b{
    width:100%;
    background-color:black;
    text-align:center;
}
#main>.footer>.b>.n{
    display:inline-table;
    padding:10px;
    color:white;
    font-weight:bold;
}
#main>.footer>.b>.n a{
    text-decoration:unset;
    color:unset;
}
#main>.footer>.b>.n a:active{
    color:rgba(37, 158, 219, 1.00);
}
#main>.footer>.b>.n>*{
    padding:1em 0;
}
#main>.footer>.b>.n>.a{
}
#main>.footer>.b>.n>.b{
    font-size:13px;
}
@media(max-width:1279px){
    #main>.footer>.b>.n>*{
        text-align:center;
    }
}
@media(min-width:1280px){
    #main>.footer>.b>.n{
        max-width:1170px;
        width:100%;
    }
    #main>.footer>.b>.n>*{
        display:table-cell;
    }
    #main>.footer>.b>.n>.a{
        text-align:left;
    }
    #main>.footer>.b>.n>.b{
        text-align:right;
    }
}
#main>.menu{
    display:none;
}
@media(max-width:1279px){
    #main>.menu{
        display:block;
        margin-top:calc(2px);
    }
    #main>.menu>.a{
        display:table;
        width:100%;
        height:90px;
        border-bottom:2px solid rgba(27, 57, 126, 1.00);
    }
    #main>.menu>.a>*{
        display:table-cell;
        padding:0 15px;
        vertical-align:middle;
    }
    #main>.menu>.a>.n{
        text-align:left;
    }
    #main>.menu>.a>.n>*>*{
        max-width:100%;
        max-height:100%
    }
    #main>.menu>.a>.o{
        text-align:right;
        cursor:default;
    }
    #main>.menu>.a>.o>.a{
        font-size:54px;
    }
    #main>.menu>.b{
        display:table;
        width:100%;
        height:48px;
        border-bottom:1px solid rgba(200, 200, 200, 1.00);
        text-decoration:none;
        -webkit-tap-highlight-color:transparent;
    }
    #main>.menu>.b:active{
        background-color:rgba(35, 47, 72, 1.00);
    }
    #main>.menu>.b:active>*{
        color:#fff;
    }
    #main>.menu>.b>*{
        display:table-cell;
        position:relative;
        padding-left:20px;
        vertical-align:middle;
        font-size:14px;
        color:unset;
        color:black;
    }
    #main>.menu>.b>.o{
        text-align:right;
        padding-right:10px;
    }
    #main>.menu>.c:active{
        background-color:rgb(237,143,21);
    }
    #main>.menu>.c>*{
        color:rgb(236,143,21);
    }
    #main>.menu>.c>*>.a{
        display:block;
        position:absolute;
        top:14px;
        left:8px;
        width:3px;
        height:20px;
        background-color:rgb(237,143,21);
    }
    #main>.menu>.d{
        border:unset;
        background-color:unset;
        border-bottom:1px solid rgba(200, 200, 200, 1.00);
        width:100%;
        height:48px;
    }
}
#main>.floatBall{
    position:fixed;
    width:60px;
    height:120px;
    right:2vw;
    bottom:10vh;
    background-color:white;
    z-index:1;
}
#main>.floatBall>*>*>*{
    display:table;
    width:60px;
    height:60px;
}
#main>.floatBall>*>*>*>*{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
#main>.floatBall>*>*>.n>*{
    border:2px solid rgba(0, 28, 42, 1.00);
    font-size:16px;
    color:rgba(0,28,42,1.00);
}
#main>.floatBall>*>*>.o>*{
    border:2px solid rgba(197, 197, 197, 1.00);
    border-top:unset;
    display:table-cell;
    height:60px;
    width:60px;
}
#main>.floatBall>*>*>.o>*>.o{
    display:none;
}
#main>.floatBall>*>*>.o:active>*>.n{
    display:none;
}
#main>.floatBall>*>*>.o:active>*>.o{
    display:unset;
}
#main .homepageLikeCurrent>*{
    color:#797979;
}
#main .homepageLikeCurrent>*>.current{
    color:#133466;
}
@media(max-width:1279px){
    #main .homepageLikeCurrent>*{
        font-size:13px;
    }
}
@media(min-width:1280px){
    #main .homepageLikeCurrent>*{
        font-size:16px;
        width:1170px;
        margin:0 auto;
    }
}
#main>.homepageLikeTop{
    display:none;
}
#main>.homepageLikeTop>.static{
    display:table;
    width:100%;
}
#main>.homepageLikeTop>.static>*{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    background-size:cover;
    background-position:center;
    color:rgb(255,255,255);
}
@media(max-width:1279px){
    #main>.homepageLikeTop.mobile{
        display:unset;
    }
    #main>.homepageLikeTop>.static{
        height:113px;
    }
    #main>.homepageLikeTop>.static>*>.a{
        font-size:20px;
        text-shadow:0 1px 1px rgba(0,0,0,.8);
    }
    #main>.homepageLikeTop>.static>*>.b{
        font-size:13px;
        text-shadow:0 1px 1px rgba(0,0,0,.8);
    }
    #main>.homepageLikeTop>.homepageLikeCurrent>*{
        margin:13px 10px;
    }
}
@media(min-width:1280px){
    #main>.homepageLikeTop.desktop{
        display:unset;
    }
    #main>.homepageLikeTop>.static{
        height:155px;
    }
    #main>.homepageLikeTop>.static>*>.a{
        font-size:40px;
        text-shadow:0 1px 2px rgba(0,0,0,.8);
    }
    #main>.homepageLikeTop>.static>*>.b{
        font-size:16px;
        text-shadow:0 1px 1px rgba(0,0,0,.8);
    }
    #main>.homepageLikeTop>.homepageLikeCurrent>*{
        margin:35px auto;
    }
}
#main>.homepageLikeHouseSearch>.b>*>*{
    vertical-align:middle;
}
#main>.homepageLikeHouseSearch>.b>*>*>*{
    vertical-align:middle;
}
@media(max-width:1279px){
    #main>.homepageLikeHouseSearch>.b>*{
        margin:13px 10px 16px;
    }
}
@media(min-width:1280px){
    #main>.homepageLikeHouseSearch>.b>*{
        width:1170px;
        margin:0 auto 15px;
    }
}
#main>.homepageLikeHouseSearch>.c>* .block{
    position:relative;
    box-sizing:border-box;
    color:#797979;
    background-color:#edeced;
    border:1px solid #cfcfcf;
    vertical-align:middle;
}
#main>.homepageLikeHouseSearch>.c>* .block>*{
    vertical-align:middle;
}
#main>.homepageLikeHouseSearch>.c>*>*>.block>select{
    background-color:white;
    padding:8px;
}
#main>.homepageLikeHouseSearch>.c>*>*>.block>select>option[disabled]{
    display:none;
}
#main>.homepageLikeHouseSearch>.c>*>*>.block>input:not([type]){
    width:140px;
    padding:8px;
}
#main>.homepageLikeHouseSearch>.c>*>.b>.block>.hint{
    z-index:1;
    opacity:0;
    position:relative;
    transition:opacity 1s;
}
#main>.homepageLikeHouseSearch>.c>*>.b>.block:focus-within>.hint{
    opacity:1;
}
#main>.homepageLikeHouseSearch>.c>*>.b>.block>.hint>*{
    position:absolute;
    background-color:white;
    padding:10px;
    box-shadow:0 1px 2px rgba(0,0,0,.4);
}
#main>.homepageLikeHouseSearch>.c>*>.c>*>.o{
    width:145px;
    height:45px;
    color:white;
    font-size:18px;
    background-color:#3f7897;
    border:unset;
    border-radius:2px;
}
#main>.homepageLikeHouseSearch>.c>*>.c>*>.o:active{
    background-color:#1d98df;
}
#main>.homepageLikeHouseSearch>.c>*>.c>*>.o+.o{
    margin-left:10px;
}
@media(max-width:1279px){
    #main>.homepageLikeHouseSearch>.c>*{
        margin:0 10px;
    }
    #main>.homepageLikeHouseSearch>.c>* .block{
        padding:10px 8px;
        font-size:15px;
    }
    #main>.homepageLikeHouseSearch>.c>*>*+*{
        margin-top:8px;
    }
    #main>.homepageLikeHouseSearch>.c>*>*>.block>.a{
        margin-bottom:10px;
    }
    #main>.homepageLikeHouseSearch>.c>*>.b>.margin{
        height:8px;
    }
    #main>.homepageLikeHouseSearch>.c>*>.b>.block>.hint>*{
        top:5px;
    }
}
@media(min-width:1280px){
    #main>.homepageLikeHouseSearch>.c>*{
        width:1170px;
        margin:0 auto;
        box-sizing:border-box;
        padding-left:25px;
    }
    #main>.homepageLikeHouseSearch>.c>* .block{
        padding:15px;
        font-size:16px;
        height:70px;
    }
    #main>.homepageLikeHouseSearch>.c>*>*{
        display:table;
    }
    #main>.homepageLikeHouseSearch>.c>*>*>*{
        display:table-cell;
    }
    #main>.homepageLikeHouseSearch>.c>*>*>.block>.a{
        display:inline-block;
        margin-right:15px;
    }
    #main>.homepageLikeHouseSearch>.c>*>*+*{
        margin-top:15px;
    }
    #main>.homepageLikeHouseSearch>.c>*>.a>.block{
        width:1145px;
    }
    #main>.homepageLikeHouseSearch>.c>*>.a>.block>select{
        width:320px;
    }
    #main>.homepageLikeHouseSearch>.c>*>.b>.block{
        width:565px;
    }
    #main>.homepageLikeHouseSearch>.c>*>.b>.margin{
        width:15px;
    }
    #main>.homepageLikeHouseSearch>.c>*>.b>.block>.hint>*{
        top:10px;
    }
    #main>.homepageLikeHouseSearch>.c>*>.c{
        width:1145px;
        text-align:right;
    }
}
#main .homepageLikeBlueBar{
    display:inline-block;
    background-color:#1d98df;
}
@media(max-width:1279px){
    #main .homepageLikeBlueBar{
        height:26px;
        width:4px;
        margin-right:8px;
    }
}
@media(min-width:1280px){
    #main .homepageLikeBlueBar{
        height:35px;
        width:5px;
        margin-right:20px;
    }
}
#main .homepageLikeTitle{
    color:#133466;
}
@media(max-width:1279px){
    #main .homepageLikeTitle{
        font-size:18px;
    }
}
@media(min-width:1280px){
    #main .homepageLikeTitle{
        font-size:24px;
    }
}
#main>.homepageLikeHouseList>.d>*>*{
    vertical-align:middle;
}
@media(max-width:1279px){
    #main>.homepageLikeHouseList>.d>*{
        margin:30px 10px 15px;
    }
}
@media(min-width:1280px){
    #main>.homepageLikeHouseList>.d>*{
        width:1170px;
        margin:15px auto 20px;
    }
}
#main>.homepageLikeHouseList>.e{
    background-color:#f6f5f6;
}
#main>.homepageLikeHouseList>.e>*>*>*>.house{
    display:table;
    position:relative;
    background-color:white;
    box-shadow:0 1px 2px rgba(0,0,0,.2),0 1px 2px rgba(0,0,0,.2);
    transition:all .4s cubic-bezier(.2,.8,.2,1);
}
#main>.homepageLikeHouseList>.e>*>*>*>.house:hover{
    box-shadow:0 1px 2px rgba(0,0,0,.2),0 8px 16px rgba(0,0,0,.2);
}
#main>.homepageLikeHouseList>.e>*>*>*>.house:active{
    box-shadow:0 1px 2px rgba(0,0,0,.2),0 16px 32px rgba(0,0,0,.2);
}
#main>.homepageLikeHouseList>.e>*>*>*>.house>*{
    display:table-cell;
    vertical-align:top;
    height:var(--height);
}
#main>.homepageLikeHouseList>.e>*>*>*>.house>.a{
    line-height:0;
    vertical-align:middle;
}
#main>.homepageLikeHouseList>.e>*>*>*>.house>.a>*{
    width:100%;
}
#main>.homepageLikeHouseList>.e>*>*>*>.house>.b{
    box-sizing:border-box;
}
#main>.homepageLikeHouseList>.e>*>*>*>.house>.b>*{
    display:table;
}
#main>.homepageLikeHouseList>.e>*>*>*>.house>.b>*>*{
    display:table-row;
}
#main>.homepageLikeHouseList>.e>*>*>*>.house>.b>*>*>*{
    display:table-cell;
}
#main>.homepageLikeHouseList>.e>*>*>*>.house>.b>*>.a>*{
    vertical-align:top;
}
#main>.homepageLikeHouseList>.e>*>*>*>.house>.b>*>.a>*>.title{
    color:#1d98df;
}
#main>.homepageLikeHouseList>.e>*>*>*>.house>.b>*>.a>*>.subtitle{
    color:#1d98df;
}
#main>.homepageLikeHouseList>.e>*>*>*>.house>.b>*>.a>*>.brief{
    color:#797979;
}
#main>.homepageLikeHouseList>.e>*>*>*>.house>.b>*>.b>*{
    vertical-align:bottom;
}
#main>.homepageLikeHouseList>.e>*>*>*>.house>.b>*>.b>*>.a{
    color:#133466;
}
#main>.homepageLikeHouseList>.e>*>*>*>.house>.b>*>.b>*>.a+.a{
    border-top:1px dotted #cfcfcf;
}
#main>.homepageLikeHouseList>.e>*>*>*>.house>.c{
    display:table;
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(0,0,0,.5);
    height:var(--height);
}
#main>.homepageLikeHouseList>.e>*>*>*>.house>.c>*{
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}
@media(max-width:1279px){
    #main>.homepageLikeHouseList>.e>*{
        margin:0 10px;
        padding:10px 0 10px;
    }
    #main>.homepageLikeHouseList>.e>*>*+*{
        margin-top:10px;
    }
    #main>.homepageLikeHouseList>.e>*>*>*+*{
        margin-top:10px;
    }
    #main>.homepageLikeHouseList>.e>*>*>*>.house{
        --height:180px;
        width:100%;
    }
    #main>.homepageLikeHouseList>.e>*>*>*>.house>.a{
        width:40%;
    }
    #main>.homepageLikeHouseList>.e>*>*>*>.house>.a>*{
    }
    #main>.homepageLikeHouseList>.e>*>*>*>.house>.b{
        padding:8px;
    }
    #main>.homepageLikeHouseList>.e>*>*>*>.house>.b>*{
        width:100%;
        height:calc(var(--height) - 16px);
    }
    #main>.homepageLikeHouseList>.e>*>*>*>.house>.b>*>*>*>.title{
        font-size:13px;
    }
    #main>.homepageLikeHouseList>.e>*>*>*>.house>.b>*>*>*>.subtitle{
        font-size:13px;
    }
    #main>.homepageLikeHouseList>.e>*>*>*>.house>.b>*>*>*>.brief{
        font-size:13px;
    }
    #main>.homepageLikeHouseList>.e>*>*>*>.house>.b>*>*>*>.a{
        font-size:13px;
        padding:2px 0;
    }
    #main>.homepageLikeHouseList>.e>*>*>*>.house>.c{
        width:100%;
    }
}
@media(min-width:1280px){
    #main>.homepageLikeHouseList>.e>*{
        --height:235px;
        width:1170px;
        margin:0 auto;
        padding:40px 0 60px;
    }
    #main>.homepageLikeHouseList>.e>*>*+*{
        margin-top:30px;
    }
    #main>.homepageLikeHouseList>.e>*>*>*{
        display:inline-block;
    }
    #main>.homepageLikeHouseList>.e>*>*>*+*{
        margin-left:26px;
    }
    #main>.homepageLikeHouseList>.e>*>*>*>.house{
        width:572px;
    }
    #main>.homepageLikeHouseList>.e>*>*>*>.house>.a{
        width:235px;
    }
    #main>.homepageLikeHouseList>.e>*>*>*>.house>.a>*{
    }
    #main>.homepageLikeHouseList>.e>*>*>*>.house>.b{
        padding:15px;
    }
    #main>.homepageLikeHouseList>.e>*>*>*>.house>.b>*{
        width:307px;
        height:calc(var(--height) - 30px);
    }
    #main>.homepageLikeHouseList>.e>*>*>*>.house>.b>*>*>*>.title{
        font-size:22px;
    }
    #main>.homepageLikeHouseList>.e>*>*>*>.house>.b>*>*>*>.subtitle{
        font-size:16px;
    }
    #main>.homepageLikeHouseList>.e>*>*>*>.house>.b>*>*>*>.brief{
        font-size:16px;
    }
    #main>.homepageLikeHouseList>.e>*>*>*>.house>.b>*>*>*>.a{
        font-size:16px;
        padding:2px 0;
    }
    #main>.homepageLikeHouseList>.e>*>*>*>.house>.c{
        width:572px;
    }
}
#main>.homepageLikeHouseList>.mightLike>.f>*>*{
    vertical-align:middle;
}
@media(max-width:1279px){
    #main>.mightLike>.f>*{
        margin:25px 10px;
    }
}
@media(min-width:1280px){
    #main>.mightLike>.f>*{
        width:1170px;
        margin:45px auto;
    }
}
#main .mightLikeBlock{
    text-decoration:unset;
}
#main .mightLikeBlock>.b{
    color:#133466;
}
#main .mightLikeBlock>.c{
    font-size:16px;
    color:#797979;
    padding:8px 0;
    border-top:1px solid #797979;
    border-bottom:1px solid #797979;
}
#main>.mightLike>.h{
    display:block;
    position:relative;
    height:400px;
    margin-bottom:20px;
}
#main>.mightLike>.h>*{
    --width:1440px; /* 5*280+4*10 */
    position:absolute;
    left:calc(50% - var(--width) / 2);
    width:var(--width);
    height:400px;
}
#main>.mightLike>.h>*>*>*>.mightLikeBlock>.a>*{
    width:280px;
    height:280px;
}
#main>.mightLike>.h>*>*>*>.mightLikeBlock>.b{
    font-size:18px;
    padding:13px 0;
}
#main .homepageLikeContactInfo>*>*>*{
    display:table;
}
#main .homepageLikeContactInfo>*>*>*>*{
    display:table-cell;
    vertical-align:middle;
    font-size:20px;
    color:rgba(10, 23, 39, 1.00);
}
#main .homepageLikeContactInfo>*>*>*>.n>*{
    width:97px;
    height:97px;
}
#main .homepageLikeContactInfo>*>*>*>.o{
    padding-left:17px;
}
#main .homepageLikeContactInfo>*>*>*>.o>.a{
    font-weight:bold;
}
#main .homepageLikeContactInfo>*>*>*>.o>.line{
    width:100%;
    height:2px;
    background-color:rgba(74, 102, 137, 1.00);
}
@media(max-width:1279px){
    #main .homepageLikeContactInfo>*{
        margin-top:35px;
    }
    #main .homepageLikeContactInfo>*>*+*{
        margin-top:25px;
    }
}
@media(min-width:1280px){
    #main .homepageLikeContactInfo{
        display:table;
        width:100%;
    }
    #main .homepageLikeContactInfo>*{
        display:table-row;
    }
    #main .homepageLikeContactInfo>*>*{
        display:table-cell;
        width:calc(100% / 2);
    }
}
#main .homepageLikeReserveButton,#main .homepageLikeMoreButton{
    display:inline-block;
    color:white;
    text-align:center;
    border-radius:2px;
}
#main .homepageLikeReserveButton{
    background:linear-gradient(#78a976,#093930);
}
#main .homepageLikeMoreButton{
    background:linear-gradient(#5d94d6,#1956ad);
}
@media(max-width:1279px){
    #main .homepageLikeReserveButton,#main .homepageLikeMoreButton{
        font-size:16px;
        width:140px;
        height:35px;
        line-height:35px;
    }
}
@media(min-width:1280px){
    #main .homepageLikeReserveButton,#main .homepageLikeMoreButton{
        font-size:22px;
        width:200px;
        height:50px;
        line-height:50px;
    }
}
