#main>.top{
    background-image:url('/_about/img/top.jpg');
    background-position:center;
    background-size:cover;
    height:410px;
}
#main>.top>*{
    width:1170px;
    margin:0 auto;
}
#main>.top>*>.a{
    display:table;
    height:310px;
    width:100%;
}
#main>.top>*>.a>*{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    color:white;
}
#main>.top>*>.a>*>.n{
    font-size:40px;
    text-shadow:0 1px 2px rgba(0,0,0,.8);
}
#main>.top>*>.a>*>.o{
    font-size:16px;
    text-shadow:0 1px 1px rgba(0,0,0,.8);
}
#main>.top>*>.b{
    height:40px;
    font-size:13px;
    color:white;
}
#main>.top>*>.c{
    height:60px;
    display:table;
    width:100%;
}
#main>.top>*>.c>*{
    height:60px;
    display:table-cell;
    width:calc(100% / 3);
    font-size:20;
    vertical-align:middle;
    text-align:center;
    background-color:#1d98df;
    color:white;
    cursor:pointer;
}
#main>.top>*>.c>.focus{
    background-color:white;
    color:#1d98df;
}
#main>.summary{
    margin-top:40px;
}
#main>.summary>.n{
    color:rgba(37, 155, 214, 1.00);
    font-size:30px;
    text-align:center;
}
#main>.summary>.u{
    width:400px;
    margin:0 auto;
}
#main>.summary>.summary{
    background-size: cover;
    background-position: center;
    background-image: url(/img/event/ebg02.jpg);
    padding-top:60px;
    padding-bottom:60px;
}
#main>.summary>.summary>.v>*{
    display:table;
    width:1170px;
    margin:0 auto;
}
#main>.summary>.summary>.v>*>*{
    display:table-row;
}
#main>.summary>.summary>.v>*>*>*{
    display:table-cell;
    background-color:white;
    padding: 20px;
    font-size: 18px;
    color: rgba(102, 102, 102, 1.00);
}
#main>.summary>.summary>.v>*>*>.n{
    text-align:center;
}
#main>.summary>.summary>.v>*>*>*+*{
    border-left:1px solid black;
}
#main>.summary>.summary>.v>*>*+*>*{
    border-top:1px solid black;
}
#main>.summary>.p{
    background:rgba(244, 243, 244, 1.00);
}
#main>.summary>.p>*>.a{
    background-color:white;
    text-align:center;
    color:rgba(10, 23, 39, 1.00);
}
@media(max-width:1279px){
    #main>.summary>.p{
        padding:20px 0;
    }
    #main>.summary>.p>*{
        margin:0 10px;
    }
    #main>.summary>.p>*>.a{
        padding:20px 0;
    }
    #main>.summary>.p>*>*+*{
        margin-top:10px;
    }
}
@media(min-width:1280px){
    #main>.summary>.p{
        padding:60px 0;
    }
    #main>.summary>.p>*{
        display:table;
        width:1170px;
        margin:0 auto;
    }
    #main>.summary>.p>*>*{
        display:table-cell;
    }
    #main>.summary>.p>*>.a{
        padding:40px 0;
        font-size: 24px;
        width:370px;
    }
    #main>.summary>.p>*>.b{
        width:30px;
    }
}
#main>.summary>.q{
    line-height: 32px;
    text-align: justify;
    letter-spacing: 2px;
    font-size: 20px;
    width:1000px;
    margin:0 auto;
}
#main>.summary>.t>.a{
    display:table;
    width:1170px;
    margin:0 auto;
}
#main>.summary>.t>.a>*{
    display:table-row;
}
#main>.summary>.t>.a>*>*{
    display:table-cell;
}
#main>.summary>.t>.a>*>.a{
    width:25%;
}
#main>.summary>.t>.a>*>.a>.o>*{
    width:100%;
}
#main>.summary>.t>.a>*>.b{
    width:12.5%;
    vertical-align:middle;
}
#main>.summary>.t>.a>*>.b>*{
    width:100%;
}
#main>.summary>.t>.a>*>.a>.n{
    background-color:#c4bd97;
    text-align:center;
}
#main>.service{
    padding-bottom:140px;
}
#main>.service>.a{
    margin-top:68px;
    text-align:center;
    font-size:40px;
    color:#06182c;
}
#main>.service>.b{
    width:60px;
    height:5px;
    background-color:#1d98df;
    margin:25px auto 0;
}
#main>.service>.c{
    text-align:center;
    margin-top:25px;
    font-size:16px;
    color:#06182c;
}
#main>.service>.d{
    width:1060px;
    margin:68px auto 0;
    display:table;
}
#main>.service>.d>*{
    display:table-cell;
    vertical-align:top;
}
#main>.service>.d>.n>.a{
    display:table;
}
#main>.service>.d>.n>.a>*{
    display:table-cell;
}
#main>.service>.d>.n>.a>.n{
    font-size:40px;
    color:#06182c;
    background-image:url('/_about/img/num_bg.png');
    background-size:cover;
    width:60px;
    padding-left:10px;
}
#main>.service>.d>.n>.a>.o{
    font-size:32px;
    color:#1d98df;
}
#main>.service>.d>.n>.b{
    margin-top:20px;
    font-size:18px;
    color:#06182c;
}
#main>.service>.d>.n>.c{
    margin-top:40px;
    font-size:14px;
    color:#06182c;
}
#main>.service>.d>.o{
    width:40px;
}
#main>.service>.d>.p>*{
    height:300px;
    width:575px;
}
#main>.partner{
    margin-top:60px;
    margin-bottom:60px;
}
#main>.partner>*+*{
    margin-top:40px;
}
#main>.partner>*>div{
    color:rgba(37, 155, 214, 1.00);
    font-size:30px;
    margin-bottom:20px;
}
#main>.partner>*>img{
    height:50px;
}
@media(min-width:1280px){
    #main>.partner{
        width:1170px;
        margin-left:auto;
        margin-right:auto;
    }
}
